/*
  ========================================
  Navigation
  ========================================
*/

.row-header {
    border-bottom: solid 2px;
}

.nav:hover {
    color: white
}

.nav-margin {
    padding-top: 35px
}

.nav {
    font: 16px/22px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer {
    border-top: solid 2px;
}

.name {
    margin-top: 10px;
    border-top: solid 2px;
}


/*
  ========================================
  Custom styles
  ========================================
*/

body {
    color: #888;
    font: 300 16px/22px "Helvetica Neue", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
    border-radius: 5px;
    height: 500px;
    margin-top: 25px;
}

.home {
    background: url("../images/craig-garner-202.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.about {
    background: url("../images/seth-schwiet-40984.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.blog {
    background: url("../images/luis-llerena-14739.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.music {
    background: url("../images/corey-blaz-5003.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.title {
    margin-top: 672px;
    margin-right: 400px;
    display: inline-block;
    padding: 10px;
    color: white;
    font: 32px/44px
}

.blog-post {
    margin-top: 50px;
    margin-left: 150px;
    padding-left: 10px;
    color: #666666;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


/*
=========================
Links
=========================
*/

a {
    color: #888;
    ;
    text-decoration: none;
}

a:hover {
    color: #fff;
    ;
}


/*
=========================
Headings
=========================
*/

h3 {
    font: 24px/32px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*
=========================
Tags
=========================
*/

.social {
    height: 30px;
    width: 30px;
}

.social:hover {
    opacity: 0.7;
}